{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">Salut</h1>
{#    {% if user.isLoggedIn %}#}
{#        Hello {{ user.name }}!#}
{#    {% endif %}#}
{% endblock %}
